<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CntrsysTest" preserve-order="true">
    <test name="allTestsInAPackage">
        <packages>
            <package name="com.niu.cntr.*"/>
        </packages>
    </test> <!-- Test -->

</suite> <!-- Suite -->